body{
	margin: 0;
    position: relative;
    height: 100%;
}

.modal{
    width: 90vw;
    height: 90vh;
    background-color: #f5f5f5;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px 1px black,0px 0px 10px 1px white,0px 0px 10px 2px skyblue; */

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    position:fixed;
    top: 60vh;
    left: 50%;

    transform: translate(-50%, -50%);
    z-index: 10;
}

.anatomy_pin{
    width: 95vw;
    height: 70vh;
}

.anatomy_model{
    width: 40%;
    height: 100%;

    position: relative;
}

.anatomy_model>img{
    width: 100%;
    height: 100%;
}

.anatomy_model>.marker{
    width: 25px;
    height: 25px;
    background-color: teal;
    border-radius: 50%;
    z-index: 12;

    border: 1px solid white;

    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    transition: 0.3s linear;
    transform-origin: left top;
}

.anatomy_model>.marked{
    background-color: white;
    scale: 1.5;
    z-index: 1;
}

.anatomy_model>.marked::before{
    content:'';
    background-color: red;
    /* border: 1px solid red; */
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    top: 15%;
    left: 15%;
    z-index: -2;
}

.label_list{
    width: 60%;
    height: 100%;

    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-auto-flow: auto;
}

.label_list>.label{
    align-self: center;
    justify-self: center;

    width: 200px;
    height: 50px;
    border: 1px solid rgb(22, 37, 37);
    border-radius: 10px;
    background-color: #dbe5ec;

    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s linear;
}

.label_list>.label:hover{
    scale: 1.1;
}

.label_list>.marked_label{
    background-color: red;
    color: white;
    letter-spacing: 1.5px;
}

.scrollblock{
    position: relative;
    overflow: hidden;
    display: block;
    width: 100vw;
    height: 1048px;

    /* padding-top: 30px; */
    /* margin-bottom: 100px; */
}

.scrollblock>.topic_banner{
    width: 100vw;
    height: 30%;

    object-fit: cover;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.scrollblock>.filter{
    content: 'hello';
    position: absolute;
    z-index:2;
    background-color: #0b3364;
    filter:blur(350px);
}

@media(max-width: 600px){
    .anatomy_pin{
        width: 90vw;
        height: 90vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px black,0px 0px 10px 1px white,0px 0px 10px 2px skyblue;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .anatomy_pin .anatomy_model{
        width: 60%;
        height: 40%;
        margin-bottom: 5%;
    }
    .anatomy_pin .label_list{
        width: 100%;
        height: 55%;

        padding-top: 10px;
        padding-bottom: 30px;
        row-gap: 10px;

        overflow: scroll;
    }

    .anatomy_pin .label_list .label{
        max-width: 150px;
        font-size: 12px;
        
    }

    .anatomy_model .marker{
        scale:0.8;
    }
    .anatomy_model .marked{
        scale:1;
    }

        /* width */
    .anatomy_pin .label_list::-webkit-scrollbar {
        width: 3px;
    }
    
    /* Track */
    .anatomy_pin .label_list::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    .anatomy_pin .label_list::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    .anatomy_pin .label_list::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}